/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}





html { 
  background-color: #FF531A;
  font-family: Arial;
  color: #FFD966;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 3.5em;
  margin-top: 20px;
  margin-bottom: 5px;
}

h2 {
  font-size: 2em;
  color: #fff;
}

.results-container {
  position: absolute;
  display: inline-block;
  left: 50%;
}

.result {
  display: inline-block;
  margin: 0 15px 0 15px;
}

.beer-image-container {
  position: relative;
  overflow: hidden;
/*  width: 343px;
  height: 852px;*/
}

.beer-glass {
  position: absolute;
  top: 0;
  left: 0;
}

.beer {
  position: absolute;
  top: 0;
  left: 0;
  /*margin-top: 500px; */
  
}

.wench {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-animation:spin 0.5s linear infinite;
  -moz-animation:spin 0.5s linear infinite;
  animation:spin 0.5s linear infinite;
  display: none;
}

.info {
  text-align: center;
}

.poll-option-title {
  display: block;
  font-size: 1.2em;
  margin-top: 10px;
}

.poll-option-title {
  font-size: 3em;
}

.poll-vote-count {
  display: block;
  font-size: 4.5em;
  color: #fff;
}

.score-change {
  position: absolute;
  left: 50%;
  margin-left: -46px;
  top: 20%;
  font-size: 5em;
  text-shadow: 0px 0px 20px #FF531A;
  color: #fff;
  display: none;
}

@-moz-keyframes spin {
  16% { -moz-transform: rotate(15deg); }
  32% { -moz-transform: rotate(0deg); }
  48% { -moz-transform: rotate(0deg); }
  64% { -moz-transform: rotate(-15deg); }
  80% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(0deg); }
}

@-webkit-keyframes spin { 
  16% { -webkit-transform: rotate(15deg); }
  32% { -webkit-transform: rotate(0deg); }
  48% { -webkit-transform: rotate(0deg); }
  64% { -webkit-transform: rotate(-15deg); }
  80% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@keyframes spin {
  16% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  32% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  48% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  64% { -webkit-transform: rotate(-15deg); transform: rotate(-15deg); }
  80% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

.polls-list {
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.polls-list li {
  margin: 20px 0 20px 0;
  text-decoration: none;
}

.polls-list a:link, .polls-list a:visited {
  color: #fff;
  text-decoration: none;
}

.polls-list a:hover {
  text-decoration: underline;
}

.poll .start-date {
  display: block;
  font-size: 0.5em;
  color: #ddd;
}

.poll .is-active {
  color: #FFD966;
}